*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color:beige;
}
.container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    height: 100vh;
}

/* CSS Formularios */
h1{
    text-align: center;
}

